.active {
    background-color: #0367c8 !important;
    color: #ffffff !important;
}
.activeBG {
    background-color: #f3f3f3 !important;
    border-radius: 12px !important;
}
.activeColor {
    color: #0367c8 !important;
}
.menu-right button {
    padding: 0px;
    justify-content: start;
    font-weight: 600;
}
.menu-right button svg {
    margin-left: 22px;
    background-color: #f3f3f3;
    color: #013145;
    box-sizing: unset;
    padding: 12px;
    border-radius: 50%;
}
.menu-right button:hover{
    background-color: #cce8f3;
}
.menu-right button:hover:focus svg{
    background-color: #0367c8;
    color: #cce8f3;
}
.icon-main-left{
    padding: 0px !important;
    width: 22px !important;
    height: 48px !important;
    margin-left: 12px;
}
.icon-main-right a {
    font-size: 12px;
}
.Text-question-order b{
    margin-left: 275px;
    margin-top: 12px;
    font-size: 14px;
}

.textarea-input{
    max-width: 800px;
    min-width: 700px;
    min-height: 100px;
    margin-left: 22px;
    margin-top: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.container-option-ckb{
    margin-top: 12px;
}
.Text-question-order{
    font-family: "Open Sans",
    "Trebuchet MS",
    arial,
    verdana,
    sans-serif;
    font-size: 14px !important;
    }
.Text-question-order input{
    margin-right: 6px;
}
.line-option{
    border-bottom: 1px solid #ccc !important;
}