.th-option-enroll {
    text-align: center !important;
    padding-right: 8px !important;
}

.td-option-enroll {
    padding-left: 32px !important;
}

.th-colName-enroll {
    width: 50% !important;
}