.main-container {
  width: 1070px;
}

.box-header-content {
  background-color: #0084d6;
  height: 56px;
  width: 100%;
}

.box-content-container {
  display: flex;
  flex-direction: row;
}

.box-content-left {
  margin-top: 12px;
  flex-basis: 75%;
}

.box-content-left-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.box-content-right {
  display: flex;
  flex-basis: 25%;
  justify-content: end;
}

.box-content-right-link {
  border: 1px solid silver;
  margin-right: 12px;
  color: #333333;
  border-radius: 8%;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  font-family: Arial,
    Helvetica,
    sans-serif;
}

.box-content-left-option {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 12px;

}

.box-content-right-link span {
  text-decoration: none;
  margin-bottom: 12px;
  align-self: center
}

.box-content-left .content-button {
  border: 1px solid #e2e8ea;
  height: 34px;
  width: 256px;

}

.box-content-right-btn1,
.box-content-right-btn2 {
  border: none;
  padding: 2px 2px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid silver;
  cursor: pointer;
}

.card-container-imageList {
  margin-top: 16px;
}

.card-course img {
  width: 100%;

}

.card-course-container {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.card-course-container P {
  text-align: center;
  font-family: "Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
  line-height: 20px;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.course-item {
  width: 32%;
  border: 1px solid silver;
  margin-bottom: 12px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.courses-item-container {
  position: absolute;
  margin-top: -110px;
  margin-left: 80px;
  display: none;
}

.courses-item-container button {
  background-color: unset;
  border: none;
  padding: 12px;
  cursor: pointer;
}

.courses-item-container button svg {
  font-size: 38px;
}

.courses-item-image {
  z-index: -1;
  position: relative;
}

.course-item p {
  padding-top: 6px;
  padding-bottom: 12px;
}

.box-content-right-container {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 1px solid silver;
  display: flex;
  flex-direction: column;
}

.box-content-right-container a {
  color: #000;
}

.box-content-right-container-item {
  margin-top: 12px;
  display: flex;
  margin-left: 12px;
  height: 47px;
  cursor: pointer;
  margin-bottom: 16px;
}

.box-content-right-container-item .item-left {
  flex-grow: 1;
  font-size: 16px;
  background-color: #f3f3f3;
  border-radius: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500
}

.box-content-right-container-item .item-left svg {
  font-size: 28px;
  text-align: center;
}

.box-content-right-container-item .item-right {
  flex-grow: 4;
  margin-left: 8px;
}

.box-content-right-container-item .item-right h5 {
  margin-bottom: 12px;
  margin-top: 4px;
  font-weight: 600;
  text-transform: uppercase;
}

.box-content-right-container-item .item-right p,
.box-content-right-container-item .item-right a {
  font-size: 12px;
  color: #0367c8;
}

/* HOVER */
.box-content-right-container-item:hover .item-left {
  background-color: #dadada;
}

.box-content-right-link:hover {
  background-color: #dadada;
}

.course-item:hover {
  /* background-color: ; */
  opacity: 0.8;
  background-color: bisque;
}

.course-item:hover .courses-item-container {
  display: block;
  cursor: pointer;
}
