body{
    background-image:  url(../Signup/backgroundImages.png);
    background-size: cover;
}
.forgot-input 
{
   height: 16px !important;
   margin-bottom: 12px;
}
.forgot-box-title,
.forgot-box-des{
    font-family: Arial, Helvetica, sans-serif
}

.forgot-box-title{
    margin-top: 12px;
    font-weight: 600;
    margin-top: -16px;
    margin-bottom: 12px;
}
.forgot-box-des{
    margin-bottom: 12px;
    font-weight: 300;
}
