.css-ohiho2-MuiInputBase-root-MuiOutlinedInput-root{
    border: unset;
    width: 250px ;
    height: 50px;
}
.resetpass-inputpasss div {
    height: 46px;
}
.resetpass-inputpasss input{
    /* width: ; */
    padding: 0;
    margin-left: 12px;
}

/* CSS Component - Signup */
.MuiBox-root{
    border: none;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    width: 500px;
}
.Signup-input{
    width: 500px !important;
}