.css-ohiho2-MuiInputBase-root-MuiOutlinedInput-root {
  border: unset;
  width: 250px !important;
  height: 50px;
}

.resetpass-inputpasss div {
  height: 46px;
}

.resetpass-inputpasss input {
  /* width: ; */
  padding: 0;
  margin-left: 12px;
}
